nav {
  height: var(--navbar-height);
  position: fixed;
  transition: all ease 300ms;
  z-index: 1;
  width: 100%;
}

.nav-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

.nav-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/navbar-background.png");
  z-index: 1;
}

.osu-logo {
  height: var(--osu-logo-size);
  width: var(--osu-logo-size);
  transition: all ease 300ms;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 2rem;

  width: min(100vw, var(--content-width));
  box-sizing: border-box;
  z-index: 1;
}

.navbar-content > li {
  all: unset;
}

.git-repo-route {
  margin-left: auto;
}

.hash-route {
  text-decoration: none;
  color: white;
}
