:root {
  --navbar-height: 90px;
  --content-width: 1000px;
}

@font-face {
  font-family: Aller;
  src: url("./assets/fonts/aller/Aller_Lt.ttf");
}

html {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Aller;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-container {
  width: min(100vw, var(--content-width));
  min-height: 100vh;
}

.align-down-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

blockquote {
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  padding-left: 1rem;
}
