:root {
  --navbar-height: 90px;
  --content-width: 1000px;
}

@font-face {
  font-family: Aller;
  src: url("./assets/fonts/aller/Aller_Lt.ttf");
}

html {
  background-color: black;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Aller;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
